
<div class="jumbotron">
  <h1>报名成功</h1>
  <p>我们稍后会用Email通知你活动详情,谢谢你</p>
  <p><a class="" href="" role="button"></a></p>
  <%=link_to '返回' , { :controller => :app , :action => :show , :id => @activity.id } , :class => 'btn btn-primary btn-lg' %>
</div>